body{
    margin: 0;
}
@font-face{
    font-family: 'Raleway-bold';
    src        : url('../fonts/raleway-bold.ttf')
}
@font-face{
    font-family: 'Raleway-extrabold';
    src        : url('../fonts/raleway-extrabold.ttf')
}
@font-face{
    font-family: 'Raleway-regular';
    src        : url('../fonts/raleway-regular.ttf')
}
@font-face{
    font-family: 'Raleway-heavy';
    src        : url('../fonts/raleway-heavy.ttf')
}
@font-face{
    font-family: 'Raleway-black';
    src        : url('../fonts/raleway-black.ttf')
}
@font-face{
    font-family: 'Roboto-black';
    src        : url('../fonts/roboto-black.ttf')
}
@font-face{
    font-family: 'Roboto-black-italic';
    src        : url('../fonts/roboto-black-italic.ttf')
}
@font-face{
    font-family: 'Roboto-regular';
    src        : url('../fonts/roboto-regular.ttf')
}

.header{
/*     float : left; */
    height: 700px;
    width : 100%;
/*     background: #abeafa; */
    background     : url(../images/indexBack.jpg);
    background-size: cover;
}

/*  .header::after{
    content: '';
    clear  : both;
    display: block;
} */

.headerContainer{
    width: 1170px;
/*     background: #abeafa; */
    height  : inherit;
    margin  : 0 auto;
    position: relative;
}

/* .headerContainer::after{
    content: '';
    clear  : both;
    display: block;
} */

.logo{
    background: url(../images/surfhouse_logo.png) no-repeat;
    width     : 125px;
    height    : 111px;
    display   : block;
    position  : absolute;
    left      : 69px;
    top       : 24px;
}
.greetingBlock{
    background: #fff51f;
    width     : 270px;
    height    : 300px;
    position  : absolute;  /* проверить абсолют */
    top       : 336px;
    left      : 0;
}
.welcomeShop{
    width         : 201px;
    height        : 52px;
    color         : #333333;
    font-family   : Raleway-bold, sans-serif;
    font-size     : 30px;
    line-height   : 30px;
    text-transform: uppercase;
    position      : absolute;
    top           : 79px;
    left          : 25px;
}
.greetingWord{
    width      : 219px;
    height     : 60px;
    font-family: Raleway-bold, sans-serif;
    font-style : italic;
    position   : absolute;
    line-height: 14px;
    font-size  : 18px;
    top        : 159px;
    left       : 20px;
}
.funrideWrap{
    width   : 315px;
    height  : 169px;
    position: absolute;
    top     : 243px;
    left    : 747px;
}
.funrideHead{
    color         : #fff51f;
    font-family   : Raleway-extrabold, sans-serif;
    font-size     : 48px;
    line-height   : 34px;
    text-transform: uppercase;
}
.funrideDescription{
    font-family: Raleway-regular, sans-serif;
    font-weight: 400;
    line-height: 24px;
    color      : #fff51f;
    font-size  : 18px;
    margin-top : 5px;
}
.socialIcons{
    width          : 130px;
    display        : flex;
    justify-content: space-between;
    position       : absolute;
    top            : 47px;
    right          : 58px;
    color          : white;
}
.socialIcons i{
        font-size: 20px;
}
.buttonBuyNow{
    display         : block;
    position        : absolute;
    width           : 124px;
    height          : 49px;
    background-color: #fff51f;
    top             : 475px;
    left            : 750px;
    color           : #000000;
    font-family     : Raleway-heavy, sans-serif;
    font-size       : 14px;
    font-weight     : 400;
    text-transform  : uppercase;
    text-decoration : none;
    line-height     : 49px;
    text-align      : center;
}
.buttonBuyNow:hover{
    color           : #fff51f;
    background-color: #000000;
}
.mainMenu{
    background     : #26d2fc;
    width          : 100%;
    float          : left;
    margin         : 0;
    padding        : 0;
    list-style-type: none;
}
.mainMenu li{
width : 100%;
height: 36px;
}
.mainMenu li a{
    display        : block;
    height         : inherit;
    text-transform : uppercase;
    font-family    : Roboto-black, sans-serif;
    font-size      : 14px;
    color          : #333333;
    text-decoration: none;
    padding        : 0 40px;
    box-sizing     : border-box;
    line-height    : 36px;
}
.mainMenu li a:hover{
    background-color: #333333;
    color           : white;
}
.mainMenu li:first-child{
    height          : 66px;
    background-color: #333333;
}
.mainMenu li:first-child a{
color      : #fff;
line-height: 66px;
}
.nowIsOpen{
    width     : 270px;
    height    : 300px;
    background: url(../images/store.jpg);
    margin-top: 33px;
    float     : left;
}
.textOpen{
    font-family   : Raleway-heavy, sans-serif;
    font-size     : 36px;
    font-weight   : 400;
    font-style    : italic;
    line-height   : 36px;
    text-transform: uppercase;
    position      : relative;
    top           : 128px;
    left          : 141px;
}
.contentNewProducts, .contenTopProducts, .contenSaleProducts{
    height          : 78px;
    width           : 100%;
    float           : left;
    line-height     : 78px;
    padding         : 0 25px;
    box-sizing      : border-box;
    background-color: #f8f8f8;
    font-family     : Roboto-black-italic, sans-serif;
    color           : #707070;
    font-size       : 22px;
    text-transform  : uppercase;
}
.newProducts, .topProducts, .saleProducts{
    width           : 100%;
    float           : left;
    background-color: #f8f8f8;
}
.contenTopProducts, .contenSaleProducts{
    margin-top: 40px;
}
.productUnit{
    width           : 270px;
    height          : 320px;
    background-color: #ffffff;
    float           : left;
    margin-right    : 30px;
    margin-top      : 31px;
    position        : relative;
    box-sizing      : border-box;
}
.cornerNew{
    position: absolute;
    top     : 0;
    left    : 225px;
}
.cornerHot{
    position: absolute;
    top     : 0;
    left    : 225px;
}
.productUnit:nth-child(3n){
    margin-right: 0;
}
.productUnit:nth-child(-n+3){
    margin-top: 0;
}
.productImg{
    width           : 250px;
    height          : 235px;
    background-color: #eaeaea;
    margin          : 10px;
}
.productName{
    float      : left;
    width      : 150px;
    height     : 52px;
    color      : #333333;
    position   : absolute;
    top        : 265px;
    left       : 18px;
    font-family: Roboto-black-italic, sans-serif;
    font-size  : 14px;
    font-weight: 400;
    line-height: 18px;
    overflow   : hidden;
}
.topProducts .productName{
    text-transform: uppercase;  /* это не точно */
}
.saleProducts .productName{
    text-transform: uppercase;  /* это не точно */
}
.productCoast{
    float      : left;
    width      : 100%;
    height     : 18px;
    color      : #333333;
    position   : absolute;
    top        : 271px;
    left       : 169px;
    font-family: Roboto-black-italic, sans-serif;
    font-size  : 18px;
    font-weight: 400;
}
.productDiscount{
    width          : 100%;
    float          : left;
    position       : absolute;
    color          : #e24602;
    text-decoration: line-through;
    font-size      : 14px;
    font-weight    : 400;
    font-family    : Roboto-black-italic, sans-serif;
    top            : 288px;
    left           : 172px;
}

/* .newProduct::after{
    content: '';
    clear  : both;
    display: block;
}*/

.brandsContainer{
    width           : 1170px;
    height          : 160px;
    background-color: #ffffff;
    margin-top      : 30px;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
    padding-left    : 35px;
    box-sizing      : border-box;
}
.instaFeed{
    width     : 100%;
    height    : 350px;
    background: #eaeaea;
}

/* .instaFeed::after{
    content: '';
    clear  : both;
    display: block;
} */

.instaFeedHead{
    width      : 100%;
    text-align : center;
    padding-top: 50px;
    font-size  : 18px;
    font-family: Roboto-black-italic, sans-serif;
}
.instaFeedHead i {
    font-size  : 32px;
    font-weight: bold;
    position   : relative;
    top        : 5px;
}
.instaFeedHead span{
    font-family: Roboto-black-italic, sans-serif;
    font-size  : 22px;
}
.instaFeedImage{
    margin-top     : 29px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
}
.socialBlocks{
    width     : 100%;
    font-size : 64px;
    color     : white;
    text-align: center;
}
.socialBlocks i{
    position: relative;
    top     : 44px;
}
.socialBlocks::after{
    content: '';
    clear  : both;
    display: block;
} 
.socialFacebook{
    width     : 390px;
    height    : 150px;
    background: #3b5997;
    float     : left;
}
.socialTwitter{
    width     : 390px;
    height    : 150px;
    background: #3fccfd;
    float     : left;

}
.socialPinterest{
    width     : 390px;
    height    : 150px;
    background: #cb2027;
    float     : left;
}
.socialBlocks a{
    color: white;
}
.footer{
    width     : 100%;
    height    : 350px;
    background: rgb(59, 59, 59);
    float     : left;
}
.footerContainer{
    width          : 1170px;
    background     : rgb(59, 59, 59);
    height         : 303px;
    margin         : 0 auto;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;

}
.columnHead{
font-family: Raleway-extrabold, sans-serif;
font-size  : 18px;
color      : white;
margin-top : 80px;
} 
.columnLinks{
    margin-top: 33px;
} 
.columnLinks a {
    display        : block;
    color          : white;
    text-decoration: none;
    font-family    : Roboto-regular, sans-serif;
    font-size      : 12px;
    margin-bottom  : 4px;
} 
.columnLinks a:hover{
    color: #fff51f;
}
.columnNewsLetter{
    font-family: Roboto-regular, sans-serif;
    color      : white;
    font-size  : 12px;
    margin-top : 4px;
    width      : 270px;
} 
.footerColumn input{
    background: #fff51f;
    margin-top: 20px;
    width     : 180px;
    height    : 30px;
    border    : none;
    outline   : none;
    padding   : 0 21px;
    box-sizing: border-box;
    float     : left;
}
.footerColumn button{
    width      : 70px;
    height     : 30px;
    background : black;
    color      : white;
    font-family: Roboto-regular, sans-serif;
    font-size  : 12px;
    border     : none;
    outline    : none;
    margin-top : 20px;
}
.footerColumn button:hover{
    background: white;
    color     : black;
    outline   : none;
    
}
.payCards{
    margin-top     : 45px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}
.columnAboutUs{
    width: 238px;
}
.columnText{
    font-family: Roboto-regular, sans-serif;
    color      : white;
    font-size  : 12px;
    margin-top : 4px;
    text-align : justify;

} 
.phoneAboutUs{
    margin-top : 17px;
    font-family: Roboto-regular, sans-serif;
    color      : white;
    font-size  : 14px;
}
.phoneAboutUs span{
    margin-right: 18px;
}
.emailAboutUs span{
    font-family : Roboto-regular, sans-serif;
    color       : white;
    font-size   : 14px;
    margin-right: 18px;
}
.emailAboutUs{
    margin-top: 17px;
}
.emailAboutUs a{
    text-decoration: none;
    color          : #faef03;
    font-family    : Roboto-regular, sans-serif;
    font-size      : 14px;
}
.copyrightInside span{
    text-transform: uppercase;
}
.copyrightInside{
font-family: Roboto-regular, sans-serif;
font-size  : 12px;
color      : white;
}
.footerSocialIcons{
    width          : 184px;
    margin-right   : 23px;
    color          : white;
    font-size      : 15px;
    display        : flex;
    justify-content: space-between;
}
.footerCopyright{
width     : 100%;
height    : 47px;
background: #333333;
}
.copyrightInside{
    width          : 1170px;
    background     : #333333;
    height         : inherit;
    margin         : 0 auto;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}











.content{
    width     : 100%;
    float     : left;
    background: #f8f8f8;
}
/*  .content::after{
    content: '';
    clear  : both;
    display: block;
 } */
.contentContainer{
    width     : 1170px;
    margin    : 0 auto;
    background: #f8f8f8;
    position  : relative;
}
.contentMain{
    display        : flex;           /* !!!!!! */
    justify-content: space-between;
}
.contentLeft{
    width     : 270px;
    background: #f8f8f8;
    min-height: inherit;
    float     : left;
    margin-top: -20px;
}
.contentRight{
    width     : 870px;
    background: #f8f8f8;
    float     : right;
    margin-top: -20px;
}
